<div class="about-main">
    <div class="about-content">
        <h2 class="about-title">assispoとは</h2>
        <p><span>スポーツに特化</span>した、SNSサービスです。</p>
        <p>今まで行ってきた素晴らしい練習を共有し合うことで、SportAppが豊富な情報源となり、</p>
        <p>目的に応じた、効率的な練習にたどり着けます。</p>
        <p>assispoとは、assistとsportを繋げたもので、このアプリが、「スポーツの技術向上を支援するものになるように」という願いを込めた言葉です</p>
    </div>
</div>