// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* posts/index ================================ */

.posts-index-item {
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
  }
  .index-main {
    position: absolute;
    top: 64px;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: #f5f8fa;
  }
  
  .index-content {
    max-width: 600px;
    margin: 60px auto;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
  }

  .posts-index-item a{
    font-weight: 600;
    font-size: 20px;
    font-family: "HG正楷書体-PRO";
  }

/* posts/show =================================== */

.show-main {
    position: absolute;
    top: 64px;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: #f5f8fa;
}  
.posts-show-item{
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
    vertical-align: middle;
    font-size: 24px;
    margin-left: 15px;  
  }
.posts-show-item p h6{
    font-size: 24px;
    margin: 20px 0;
}

.posts-show-item p{
  font-size: 35px;
  font-family:"HG正楷書体-PRO";
}
.post-time {
    color: #8899a6;
    margin-bottom: 10px;
    font-family: "HG正楷書体-PRO";
  }
.show-content {
  max-width: 600px;
  margin: 60px auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}
.posts-show-menus {
  float: right;
}

.posts-show-menus a, .posts-show-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 20px;
  font-family: "HG正楷書体-PRO";
}

.posts-show-menus a:hover{
  color: black;
  font-size: 22px;
}

.post-left {
  float: left;
  width: 10%;
}

.post-user-name img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 1px black;
  object-fit: cover;
}

.post-user-name a{
  font-size: 28px;
  font-weight:600 ;
  padding-left: 20px;
}

.post-user-name p{
  font-size: 18px;
  padding-left: 20px;
  line-height: 50px;
}


.post-user-name{
  display: flex;
  padding-top: 20px;
  margin-bottom: 24px;
}



.post-bottom {
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 1px black;
  object-fit: cover;
}

.unlike{
  color: yellow;
}

.like{
  color: grey;
}


/* posts/new ================================ */

.new-main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;
}  
.new-content {
  max-width: 600px;
  margin: 60px auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}
.new-main textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}


